[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
klibs = {git = "https://github.com/a-hurst/klibs.git", ref = "9bb6e1434588ae353396d5b10d5f42795aa0ec80"}
pyyaml = "*"
MagPy-TMS = "==1.4"
LabJackPython = "*"

[scripts]
